<div class="theme theme-dark">
	<mat-toolbar color="primary">
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
			<mat-icon>menu</mat-icon>
		</button>
		<span style="margin-right: 20px;">MFR System</span>
		<button mat-button [matMenuTriggerFor]="menu">Master</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item routerLink="/{{ page }}/menu">Menu</button>
			<button mat-menu-item routerLink="/{{ page }}/role">Role</button>
			<button mat-menu-item routerLink="/{{ page }}/user">User</button>
		</mat-menu>
		<span class="example-spacer"></span>
		<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
			<mat-icon>favorite</mat-icon>
		</button>
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
			<mat-icon>share</mat-icon>
		</button>
	</mat-toolbar>
	
	<div class="container" color="primary">
		<mat-card appearance="outlined" style="margin-bottom: 20px;">
			<mat-card-content style="display: flex; align-items: center; color: var(--mat-text-primary)">
				{{title}} 
				<mat-spinner id="loadingData" style="margin-left: 10px;" diameter="24"></mat-spinner>
			</mat-card-content>
		</mat-card>
		<mat-card appearance="outlined" style="margin-bottom: 20px; padding: 10px;">
			<router-outlet></router-outlet>
		</mat-card>
	</div>
</div>
