<div [innerHTML]="song.parts[partInd].title"></div>
<div [innerHTML]="song.parts[partInd].chord">
  
</div>
<hr/>
<div [innerHTML]="song.parts[partInd + 1].title"></div>
<div [innerHTML]="song.parts[partInd + 1].chord">
  
</div>

<footer class="footer">
  <button class="success" style="margin-right: 5px;" mat-mini-fab aria-label="Previous">
    <mat-icon (click)="prev()">navigate_before</mat-icon>
  </button>
  <button mat-mini-fab aria-label="Next">
    <mat-icon (click)="next()">navigate_next</mat-icon>
  </button>
</footer>