@use '@angular/material' as mat;

.theme-light {
  color-scheme: light;
	height: 100vh;
  @include mat.theme((
    color: (
			primary: mat.$orange-palette,
			// tertiary: mat.$rose-palette,
			theme-type: light,
		),
    typography: Roboto,
    density: 0,
  ));
}

.theme-dark {
	background-color: #161717;
	height: 100vh;
  @include mat.theme((
    color: (
			primary: mat.$orange-palette,
      // accent: mat.$amber-palette,
      // warn: mat.$red-palette,
			theme-type: dark,
		),
    typography: Roboto,
    density: 0,
  ));
}


// $red-palette
// $green-palette
// $blue-palette
// $yellow-palette
// $cyan-palette
// $magenta-palette
// $orange-palette
// $chartreuse-palette
// $spring-green-palette
// $azure-palette
// $violet-palette
// $rose-palette